<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/admin/header') %>
    </head>
    <body>
        <%- include('../layouts/admin/top-nav') %>
        <%- include('../layouts/selfassessment/side-bar') %>
        <!-- views\layouts\selfassessment\side-bar.ejs -->
            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <div class="container-fluid dashboard-default-sec">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>TCC  </h5>
                
                        </div>
                
                
                
                        <%- include('../layouts/selfassessment/self_quick_menu') %>
                        
                        

                        <div class="col-xl-12  box-col-12">
                            <div class="card employee-status">
                                <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                                    <h5 class="text-uppercase">
                                        
                                            <button type="button" class="btn btn-primary text-center" data-bs-toggle="modal" data-original-title="test" data-bs-target="#exampleModal">e-TCC Aplication</button>

                                    </h5>
                                    <div class="setting-list">
                                        <ul class="list-unstyled setting-option">
                                            <li>
                                                <div class="setting-primary"><i class="icon-settings"></i></div>
                                            </li>
                                            <li><i class="view-html fa fa-code font-primary"></i></li>
                                            <li><i class="icofont icofont-maximize full-card font-primary"></i></li>
                                            <li><i class="icofont icofont-minus minimize-card font-primary"></i></li>
                                            <li><i class="icofont icofont-refresh reload-card font-primary"></i></li>
                                            <li><i class="icofont icofont-error close-card font-primary"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="user-status table-responsive">
                                        <table class="table table-bordernone">
                                            <thead>
                                                <tr>
                                                    <th scope="col">APPLICATION DATE</th>
                                                    <th scope="col">YEAR</th>
                                                    <th scope="col">DOCUMENT UPLOADED</th>
                                                    <th scope="col">RECEIPT VERIFICATION</th>
                                                    <th scope="col">STATUS</th>
                                                    <th scope="col">APPROVED DATE</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="code-box-copy">
                                        <button class="code-box-copy__btn btn-clipboard" data-clipboard-target="#emplotee-status" title="Copy"><i class="icofont icofont-copy-alt"></i></button>
                                        <!-- <pre><code class="language-html" id="emplotee-status">&lt;div class="card"&gt; -->
                
                                    </div>
                                </div>
                            </div>
                        </div>
                
                
                
                
                
                
                        <!-- Container-fluid Ends-->
                    </div>
           

                    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">e-TCC APPLICATION</h5>
                              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form class="form theme-form"  id="form" >
                            <div class="modal-body">
                              
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col">
                                        <div class="mb-3 row">
                                          <label class="col-sm-3 col-form-label" style="text-align: right;">Start Year</label>
                                          <div class="col-sm-9">
                                            <input class="form-control" type="text" name="tax_office" id="tax_office" value="">
                                          </div>
                                        </div>
                                        <div class="mb-3 row">
                                          <label class="col-sm-3 col-form-label"  style="text-align: right;">Email</label>
                                          <div class="col-sm-9">
                                            <input class="form-control" type="email" name="email" id="email" placeholder="" value="">
                                          </div>
                                        </div>
                                        <div class="mb-3 row">
                                          <label class="col-sm-3 col-form-label"  style="text-align: right;">Mobile Number</label>
                                          <div class="col-sm-9">
                                            <input class="form-control digits" type="number" name="mobile_number" id="mobile_number" placeholder="" value="">
                                          </div>
                                        </div>
                                        <div class="mb-3 row">
                                          <label class="col-sm-3 col-form-label"  style="text-align: right;">Agency Type</label>
                                          <div class="col-sm-9">
                                            <input class="form-control " type="text" name="agencies_type" id="agencies_type" placeholder="" value="">
                                          </div>
                                        </div>
                                        <div class="mb-3 row">
                                          <label class="col-sm-3 col-form-label"  style="text-align: right;">functions</label>
                                          <div class="col-sm-9">
                                            <input class="form-control m-input digits" type="text" name="functions" id="functions" value="">
                                          </div>
                                        </div>
                                        <div class="row">
                                          <label class="col-sm-3 col-form-label" style="text-align: right;">Address</label>
                                          <div class="col-sm-9">
                                            <textarea class="form-control" rows="5" cols="5" placeholder="Default textarea" name="address" id="address"></textarea>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- <div class="card-footer text-end">
                                    <div class="col-sm-9 offset-sm-3">
                                      <button class="btn btn-primary" type="submit">Submit</button>
                                      <input class="btn btn-light" type="reset" value="Cancel">
                                    </div>
                                  </div> -->
                                
                            </div>
                            <div class="modal-footer">
                              <!-- <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button> -->
                              <button class="btn btn-secondary" type="submit" onclick="create()">Create</button>
                            </div>
                          </form>
                          </div>
                        </div>
                      </div>
        

        <%- include('../layouts/admin/footer') %>
    </body>

</html>