<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../layouts/admin/header') %>
</head>

<body>
  <% if(user.group_id == 111000){%>
    <%- include('../layouts/cbs/top-nav') %>
    <%- include('../layouts/cbs/side-bar') %>
<% } else { %>
    <%- include('../layouts/admin/top-nav') %>
    <%- include('../layouts/admin/side-bar') %>
<% } %>

      <!-- Page Sidebar Ends-->
      <div class="page-body">
        <div class="container-fluid">
          <div class="page-header">
            <div class="row">
              <div class="col-sm-6">
                <h3>Agencies</h3>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li class="breadcrumb-item active">Agencies</li>
                </ol>
              </div>
              <div class="col-sm-6">
                <!-- Bookmark Start-->
                <div class="bookmark">
                  <ul>
                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top"
                        title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top"
                        title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top"
                        title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                    <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top"
                        title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                      <form class="form-inline search-form">
                        <div class="form-group form-control-search">
                          <input type="text" placeholder="Search..">
                        </div>
                      </form>
                    </li>
                  </ul>
                </div>
                <!-- Bookmark Ends-->
              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid starts-->
        <div class="container-fluid">
          <div class="row">
           

            <div class="col-sm-12">
              <div class="card">
                <div class="card-header pb-0">
                  
                      <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-original-title="test"
                      data-bs-target="#exampleModal" >Add new agency</button>
                </div>

                <div class="card-body">

                  <div class="table-responsive">

                    <table class="table display" id="basic-10">
                      <thead>
                        <tr>
                          <th>ACTION</th>
                          <th>NAME</th>
                          <th>TYPE</th>
                          <th>EMAIL</th>
                          <th>PHONE</th>
                          <th>CREATEDBY</th>
                          <!-- <th>ADDRESS</th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <% revAgencies.forEach(function(View) { %>
                          <tr>
                            <td>
                              <div class=" dropdown-basic">
                                <div class="dropdown">
                                  <button class="dropbtn btn-primary" type="button"><i class="fa fa-cogs" ></i> <span></span></button>
                                  <div class="dropdown-content">
                                     <a href="javascript:;" data-bs-toggle="modal" data-original-title="test"
                                     data-bs-target="#exampleModal<%= View.agency_id %>">Edit details</a>
                                     <a href="javascript:;"  data-bs-toggle="modal" data-original-title="test" data-bs-target="#addStaff<%= View.id_tax_office %>" >User AMACEV.com base ayatem</a>
                                    <!-- <a href="javascript:;" >View transactions</a> -->
                                    <!-- <a href="/admin/view_office_users?office_id=<%= View.tax_office_id %>">View Office User</a> -->
                                    <!-- <a href="#">Ip Configurations</a></div> -->
                                </div>
                              </div>
                             
                             
                            </td>
                            <td> <%= View.agency_name %>  </td>
                            <td>  <%= View.agency_type %>  </td>
                            <td>
                              <%= View.agency_email %>
                            </td>
                            <td>
                              <%= View.agency_phone %>
                            </td>
                            <td>
                              <%= View.created_by %>
                            </td>
                            <!-- <td><%= View.functions %> </td> -->
                          </tr>
                          <div class="modal fade" id="exampleModal<%= View.agency_id %>" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">UPDATE AGENCY INFO</h5>
                                  <button class="btn-close" type="button" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                                </div>
                                <form class="form theme-form" method="post" id="form<%= View.agency_id %>"
                                  action="/submit">
                                  <div class="modal-body">

                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col">
                                          <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label"
                                              style="text-align: right;">Agency</label>
                                            <div class="col-sm-9">
                                              <input class="form-control" type="text" name="agency_name" id="agency_name"
                                                value="<%= View.agency_name  %>">
                                            </div>
                                          </div>


                                          <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label" style="text-align: right;">Agency
                                              Type</label>
                                            <div class="col-sm-9">
                                              <input class="form-control " type="text" name="agency_type"
                                                id="agency_type" placeholder="" value="<%= View.agency_type %>">
                                            </div>
                                          </div>

                                          <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label"
                                              style="text-align: right;">Agency Email</label>
                                            <div class="col-sm-9">
                                              <input class="form-control" type="text" name="agency_email" id="agency_email"
                                                value="<%= View.agency_email  %>">
                                            </div>
                                          </div>
                                          <div class="mb-3 row">
                                            <label class="col-sm-3 col-form-label"
                                              style="text-align: right;">Agency Phone Number</label>
                                            <div class="col-sm-9">
                                              <input class="form-control" type="text" name="agency_phone" id="agency_phone"
                                                value="<%= View.agency_phone  %>">
                                            </div>
                                          </div>

                                        </div>
                                      </div>
                                    </div>


                                  </div>
                                  <div class="modal-footer">
                                    <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button>
                                    <button class="btn btn-secondary" type="submit"
                                      onclick="submitEdit('<%= View.id_tax_office %>')">Save changes</button>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <%});%>
                      </tbody>
                    </table>


                  </div>


                </div>


              </div>
            </div>
          </div>
        </div>
        <!-- Container-fluid Ends-->
      </div>


      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">CREATE AGENCY INFO</h5>
              <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="form theme-form" id="form">
              <div class="modal-body">

                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label" style="text-align: right;">Agency</label>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" name="agency_name" id="agency_name" value="">
                        </div>
                      </div>


                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label" style="text-align: right;">Agency Type</label>
                        <div class="col-sm-9">
                          <select class="form-control" id="agency_type" name="agency_type">
                            <option value="">== SELECT OPTIONS ==</option>
                            <% agencyT.forEach(function(res){%>
                              <option value="<%= res.agency_type %>"><%= res.agency_type %></option>
                            <%})%>

                          </select>
                        </div>
                      </div>

                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"
                          style="text-align: right;">Agency Email</label>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" name="agency_email" id="agency_email">
                        </div>
                      </div>
                      <div class="mb-3 row">
                        <label class="col-sm-3 col-form-label"
                          style="text-align: right;">Agency Phone Number</label>
                        <div class="col-sm-9">
                          <input class="form-control" type="text" name="agency_phone" id="agency_phone" >
                        </div>
                      </div>


                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <!-- <button class="btn btn-primary" type="button" data-bs-dismiss="modal">Close</button> -->
                <button class="btn btn-secondary" type="submit" onclick="create()">Create</button>
              </div>
            </form>
          </div>
        </div>
      </div>


      <%- include('../layouts/admin/footer') %>
        <script>
          function submitEdit(id) {
            let form = document.querySelector('#form' + id + '');

            form.addEventListener('submit', async (e) => {
              e.preventDefault()
               $('#cover-spin').show(0)
              let agency_name = form.agency_name.value;
              let agency_type = form.agency_type.value;
              let agency_email = form.agency_email.value
              let agency_phone = form.agency_phone.value
             
              console.log(agency_name, agency_type)
              try {
                let res = await fetch('/admin/edit_agency', {
                  method: "POST",
                  body: JSON.stringify({ agency_name: agency_name, agency_type: agency_type, agency_email: agency_email, agency_phone: agency_phone}),
                  headers: { 'Content-Type': 'application/json' }
                })

                const data = await res.json();
                if (data.err) {
                     $('#cover-spin').hide(0)
                  // formerror.textContent = data.err
                  var notify = $.notify('<i class="fa fa-warning"></i><strong>' + data.err + '</strong>.', {
                    type: 'danger',
                    allow_dismiss: true,
                    delay: 5000,
                    showProgressbar: true,
                    timer: 300
                  });
                } else {
                 $('#cover-spin').hide(0)
                  var notify = $.notify('<i class="fa fa-bell-o"></i><strong>Updated</strong>', {
                    type: 'theme',
                    allow_dismiss: true,
                    delay: 2000,
                    showProgressbar: true,
                    timer: 1000
                  });

                  setTimeout(function () {
                    notify.update('message', '<i class="fa fa-bell-o"></i><strong>Redirecting Back</strong>....');
                    location.assign('/admin/view_agencies')
                  }, 1000);
                }
              } catch (error) {
                console.log(error)
              }
            })
          }


          function create() {
            let form = document.querySelector('#form');
            let id =
              form.addEventListener('submit', async (e) => {
                e.preventDefault()
                 $('#cover-spin').show(0)
                let agency_name = form.agency_name.value;
                let agency_type = form.agency_type.value;
                let agency_email = form.agency_email.value
                let agency_phone = form.agency_phone.value
              console.log(agency_name, agency_type)
                try {
                  let res = await fetch('/agency/agencies', {
                    method: "POST",
                    body: JSON.stringify({agency_name: agency_name, agency_type: agency_type, agency_email: agency_email, agency_phone: agency_phone}),
                    headers: { 'Content-Type': 'application/json' }
                  })

                  const data = await res.json();
                  if (data.err) {
                       $('#cover-spin').hide(0)
                    // formerror.textContent = data.err
                    var notify = $.notify('<i class="fa fa-warning"></i><strong>' + data.err + '</strong>.', {
                      type: 'danger',
                      allow_dismiss: true,
                      delay: 5000,
                      showProgressbar: true,
                      timer: 300
                    });
                  } else {
                       $('#cover-spin').hide(0)

                    var notify = $.notify('<i class="fa fa-bell-o"></i><strong>Created successfuly </strong>', {
                      type: 'theme',
                      allow_dismiss: true,
                      delay: 2000,
                      showProgressbar: true,
                      timer: 1000
                    });

                    setTimeout(function () {
                      notify.update('message', '<i class="fa fa-bell-o"></i><strong>Redirecting Back</strong>....');
                      location.assign('/agency/agencies')
                    }, 1000);
                  }
                } catch (error) {
                     $('#cover-spin').hide(0)
                  console.log(error)
                }
              })
          }
        </script>
</body>

</html>