<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../layouts/admin/header') %>
    </head>
    <body>
        <% if(user.group_id == 111000){%>
            <%- include('../layouts/cbs/top-nav') %>
            <%- include('../layouts/cbs/side-bar') %>
        <% } else { %>
            <%- include('../layouts/admin/top-nav') %>
            <%- include('../layouts/admin/side-bar') %>
        <% } %>

            <!-- Page Sidebar Ends-->
            <div class="page-body">
                <div class="container-fluid">
                <div class="page-header">
                    <div class="row">
                    <div class="col-sm-6">
                        <h3>REPORT BY ASSESSMENT</h3>
                        <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item">report</li>
                        <li class="breadcrumb-item active">payment report by assessment</li>
                        </ol>
                    </div>
                    <div class="col-sm-6">
                        <!-- Bookmark Start-->
                        <div class="bookmark">
                        <ul>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Tables"><i data-feather="inbox"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="command"></i></a></li>
                            <li><a href="javascript:void(0)" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="layers"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="star"></i></a>
                            <form class="form-inline search-form">
                                <div class="form-group form-control-search">
                                <input type="text" placeholder="Search..">
                                </div>
                            </form>
                            </li>
                        </ul>
                        </div>
                        <!-- Bookmark Ends-->
                    </div>
                    </div>
                </div>
                </div>
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <% if(user.group_id == 111000){%>
                        <% } else { %>
                            <% if (user.group_id == 190){%>
                                <% } else if (user.group_id == 205 || user.group_id == 121212) {%>
                                    <%- include('../layouts/admin/ofice_user_quick_menu') %>
                                <% } else {%>
                                    <%- include('../layouts/admin/quick_menu') %>
                                <% }%>
                        <% } %>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="card">
                                
                                <div class="card-body">
                                    <form method="get" action="" id="taxoffice">
                                        
                                        <div class="row">
                                            
                                           <div class="col-md-4">
                                                <div class="mb-3 m-form__group">
                                                    <label>AGENCIES:</label> 
                                                    <div class="input-group">
                                                        <select name="office" id="office" class="form-control">
                                                            <option value="">--Select--</option>
                                                            <% offices.forEach(function(agency) {%>
                                                            <option value="<%= agency.id_tax_office %>"><%= agency.tax_office %></option>
                                                            <%});%>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                
                                        <div class="col-md-4">
                                            <div class="mb-3 m-form__group">
                                                <label>TIN</label> 
                                                <div class="input-group">
                                                    
                
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa fa-building"></i></span>
                                                        <input type="text" class="form-control" id="tin" name="tin" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                        <div class="col-md-4">
                                            <div class="mb-3 m-form__group">
                                                <label>Invoice number</label> 
                                                <div class="input-group">
                                                    <div class="input-group">
                                                    <span class="input-group-text"><i class="fa fa-building"></i></span>
                                                    <input type="text" class="form-control" id="invoice_number" name="invoice_number" placeholder=""> 
                                                    </div>
                                                </div>
                                            </div>
                                         </div>  
                                   </div>  
                                    <div class="row">
                                      <div class="col-md-3">
                                            <div class="mb-3 m-form__group">
                                                <label>Start Date Generated:</label> 
                                                <div class="input-group">
                                                    
                
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="fa fa-building"></i></span>
                                                        <input type="date" class="form-control" id="registered_on" name="registered_on" placeholder="dd/mm/yyy">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                           <div class="mb-3 m-form__group">
                                                <label>End Date Generated:</label> 
                                                <div class="input-group">
                                                    <div class="input-group">
                                                    <span class="input-group-text"><i class="fa fa-building"></i></span>
                                                    <input type="date" class="form-control" id="registered_to" name="registered_to" placeholder="dd/mm/yyy">
                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="mb-3 m-form__group">
                                                <label>PAYMENT STATUS:</label> 
                                                <div class="input-group">
                                                    <select name="payment_status" id="payment_status" class="form-control">
                                                        <option value="">--Select--</option>
                                                        <option value="1">Paid</option>
                                                        <option value="0">Un-Paid</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                      
                                
                                      <tr>
                                        <td colspan="2" >
                                            <div >
                                                <input name="Button_DoSearch" type="submit" value="Search" alt="Search" id="revenue_invoices_api_paymButton_DoSearch" class="btn btn-primary">
                                           
                                                <!-- <input name="Button_DoSearch" type="submit" value="Download Assessment Item" alt="Search" id="donload_report" class="btn btn-warning"> -->
                                                <input name="Button_DoSearch" type="submit" value="Download Assessment" alt="Search" id="donload_sum_report" class="btn btn-warning">
                                            </div>
                                          </td> 
                                      </tr>
                                      
                                      
                                    </form>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-12">
                            <div class="card">
                                <div class="card-header pb-0">
                                <!-- <h5>Sample Card</h5><span>lorem ipsum dolor sit amet, consectetur adipisicing elit</span> -->
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                   
                                        <table class="table table-nowrap display table-striped"  >
                                          <thead>
                                            <tr>
                                                <th>PaymentInvoice</th>
                                                <th>TaxPayer</th>
                                                <th>Tin</th>
                                                <th>Agency</th>
                                                <th>Ass.Amount</th>
                                                <th>Amount.Paid</th>
                                                <th>DateTime</th>
                                                <th>CreatedBy</th>
                                                <th>Paid</th>
                                            </tr>
                                          </thead>
                                      <tbody>
                                           <% view_mandate.forEach(function(View) { %> 
                                                <tr>   
                                                    <td><%= View.invoice_number %> </td>
                                                    <td><%= View.taxpayer_name %> </td>
                                                    <td><%= View.taxpayer_rin %> </td>
                                                    <td><%= View.tax_office %> </td>
                                                    <td><%= View.assessment_amount %> </td>
                                                    <td><%= View.assessment_amount_paid %> </td>
                                                    <td><%=  View.settlement_status == 1 ? View.settlement_date : "" %> </td>
                                                    <td><%= View.name %> </td>
                                                    <td><%=  View.settlement_status == 1 ? "Paid" : "Unpaid" %> </td>
                                                </tr>
                                            <%});%>
                                          </tbody>
                                        </table>
                                       
                                    
                                      </div>
                                      <nav aria-label="...">
                                        <%  let uri = prm=="Search" ? uri2 :uri1 ; %>
                                       
                                        <% if (pages > 0) { %>
                                        
                                        <ul class="pagination pagination-primary">
                                            <% if (current == 1) { %>
                                                <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" tabindex="-1">First</a></li>
                                            <% } else { %>
                                                <li class="page-item "><a class="page-link" href="<%= uri%>" tabindex="-1">Previous</a></li>
                                            <% } %>
                                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                                            <% if (i !== 1) { %>
                                                <li class="page-item"><a class="page-link" href="javascript:void(0)">...</a></li>
                                            <% } %>
                                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                                                <% if (i == current) { %>
                                                <li class="page-item active"><a class="page-link" href="javascript:void(0)"><%= i %> <span class="sr-only">(current)</span></a></li>
                                                <% } else { %>
                                                <li class="page-item"><a class="page-link"  href="<%= uri%>&page=<%= i %>"><%= i %></a></li>
                                                <% } %>
                                                <% if (i == Number(current) + 4 && i < pages) { %>
                                                    <li class="page-item"><a class="page-link"  href="javascript:void(0)">...</a></li>
                                                <% } %>
                                            <% } %>
                                            <% if (current == pages) { %>
                                            <li class="page-item"><a class="page-link" href="javascript:void(0)">Next</a></li>
                                            <% } else { %>
                                                <li class="page-item"><a class="page-link" href="<%= uri%>&page=<%= pages %>">Last</a></li>
                                            <% } %>
                                        </ul>
                                        <% } %>
                                      </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>


        <%- include('../layouts/admin/footer') %>
    </body>

</html>